<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="wrapper">
      <h1 class="site-title">
          <a href="/">//ksdt</a>
      </h1>
      <span id='listen'>listen now</span>
      <ul id='nav'>
          <li><a href='/about'>about</a></li>
          <li><a href='/do'>get invovled</a></li>
          <li><a href='/contact'>contact</a></li>
      </ul>
      <div id="branding">
        <div id="sun"></div>
        <div class='bar' id="bar1"></div>
        <div class='bar' id="bar2"></div>
        <div class='bar' id="bar3"></div>
        <div class='bar' id="bar4"></div>
        <div class='bar' id="bar5"></div>
      </div>
      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
    </div>
    <script src='jq.js'></script>
    <script src='main.js'></script>
  </body>
</html>
